NEXT_PUBLIC_HOST_URL=http://localhost:4000
NEXT_PUBLIC_STORE_URL=http://localhost:4100
NEXT_PUBLIC_PRODUCT_URL=http://localhost:4200
NEXT_PUBLIC_CHECKOUT_URL=http://localhost:4300
NEXT_PUBLIC_GRAPHQL_SERVER_URL=http://localhost:8080
NEXT_PRIVATE_LOCAL_WEBPACK=true
