.cart-menu-container {
    z-index: 50;
    animation: slideInFromRight 0.3s ease-in-out forwards;
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    background-color: var(--popover-background);
    color: var(--popover-foreground);
    overflow: hidden;
    min-height: 100vh;
    border: 1px solid;
}

.cart-menu-header {
    height: 4rem;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    text-align: center;
}

.cart-menu-body {
    overflow-y: auto; /* Enables vertical scroll for a clean layout */
    padding: 10px 0;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
}

.animate-slide-out {
    animation: slide-out 0.3s ease-in forwards;
}
