.cart-menu-container {
    z-index: 50;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    background-color: var(--popover-background);
    color: var(--popover-foreground);
    overflow: hidden;
    min-height: 100vh;
    border: 1px solid;
    transform: translateX(100%); /* Hidden by default */
    opacity: 0; /* Hidden by default */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
}

.cart-menu-container.open {
    transform: translateX(0); /* Fully visible */
    opacity: 1; /* Fully visible */
}

.cart-menu-header {
    height: 4rem;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    text-align: center;
}

.cart-menu-body {
    overflow-y: auto;
    padding: 10px 0;
}
